/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Adicionado para evitar o recuo na lateral direita */
}

/* Garantir que todos os elementos respeitem a largura da viewport */
.container, .hero, .carrossel-html, .text-section, .footer {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fafafa;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
    background-color: rgba(251, 251, 251, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /*position: sticky;*/
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header .logo {
    font-size: clamp(24px, 2vw + 1rem, 28px);
    font-weight: bold;
    transition: transform 0.3s;
}

header .logo:hover {
    transform: scale(1.05);
}

header .logo-ecolution {
    width: 10%;
}

/* Botão de Alternância de Tema */
.theme-toggle {
    position: fixed; /* Fixado em uma posição específica */
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #d19f68; /* Cor do ícone */
    transition: color 0.3s ease;
    z-index: 1000; /* Para garantir que o botão fique acima de outros elementos */
}

.theme-toggle:hover {
    color: #b88a58; /* Cor ao passar o mouse */
}

.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hamburger-icon:hover {
    transform: rotate(90deg);
}

/* Sidebar com efeito de vidro fosco */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(12, 248, 12, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    color: #000000;
    z-index: 900;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar a:hover {
    background-color: rgba(87, 87, 87, 0.5);
    transform: translateX(10px);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

/* Estilo para o texto dourado metalizado */
.texto-verde {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68; /* Cor de fallback */
    background: linear-gradient(45deg, #40ce4e, #aaff00, #11aa11, #24e098);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.texto-azul {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68; /* Cor de fallback */
    background: linear-gradient(45deg, #40c7ce, #00bfff, #5cbefb, #0c3170);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Seção de Apresentação */
.hero {
    text-align: center;
    background: #ffffff url('/images/engenhariaambiental1.jpg') center/cover no-repeat;
    /*filter: brightness(80%);*/
    position: relative;
    color: #000000;
    z-index: 1;
}

.hero h1 {
    font-size: clamp(28px, 5vw + 1rem, 42px);
    margin-bottom: 10px;
}

.hero p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    font-size: clamp(16px, 3vw + 1rem, 20px);
    background-color: #0b0601;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.carrossel-principal {
    border-radius: 15px; /* Ajuste o valor conforme necessário */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1.0); /* Sombra suave */
    overflow: hidden; /* Para garantir que as bordas arredondadas funcionem com as imagens */
}

.carrossel-principal .fotos img {
    height: 500px;
}

.product-card .fotos img {
    height: 230px;
}

.carrossel-html {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}


.fotos {
    display: flex;
    transition: transform 0.5s ease;
}

.fotos img {
    width: 100%;
    flex-shrink: 0;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
}

.next {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
}


/* Seção Produtos  e Serviços*/
#products {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

#products h2 {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68;
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    width: 200px;
    border-radius: 8px;
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    filter: grayscale(30%);
    transition: filter 0.3s;
}

.product-card img:hover {
    filter: grayscale(0%);
}

.product-card h3 {
    font-size: clamp(18px, 4vw + 1rem, 22px);
    margin: 10px 0;
    color: #333;
}

.product-card p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
    color: #717171;
    margin-bottom: 15px;
}

#services {
    padding: 05px 20px;
    background-color: #ffffff;
    text-align: center;
}

#services h2 {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    width: 600px;
    border-radius: 8px;
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    width: 100%;
    height: auto;
    filter: grayscale(30%);
    transition: filter 0.3s;
}

.service-card img:hover {
    filter: grayscale(0%);
}

.service-card h3 {
    font-size: clamp(18px, 4vw + 1rem, 22px);
    margin: 10px 0;
    color: #333;
}

.service-card p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
    color: #717171;
    margin-bottom: 15px;
}

/* Seção Textos */
.text-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.text-section h2 {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68;
}

.text-section p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
    max-width: 1200px;
    margin: 0 auto;
    color: #717171;
    text-align: justify;
}

/* Estilo para o carrossel na seção "Sobre Nós" */
.carrossel-about {
    position: relative;
    max-width: 600px; /* Maior que os cartões de produtos e serviços */
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Centralizar o parágrafo */
.about-paragraph {
    text-align: justify !important;
}

.about-paragraph ul {
    margin-left: 20px !important; /* Adiciona um espaço à esquerda para a lista */
    padding-left: 20px !important; /* Adiciona espaço interno à esquerda para a lista */
}
.about-paragraph li {
    text-align: justify !important;
    margin-left: 200px !important; /* Adiciona um espaço à esquerda para a lista */
}


.carrossel-about .fotos {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-about .fotos img {
    width: 100%;
    flex-shrink: 0;
}

.carrossel-about button.prev,
.carrossel-about button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carrossel-about button.prev {
    left: 10px;
}

.carrossel-about button.next {
    right: 10px;
}


/* Seção Contato */
#contact {
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    text-align: center;
}

#contact h2 {
    font-size: clamp(24px, 5vw + 1rem, 28px);
    margin-bottom: 15px;
    color: #d19f68;
}

#contact p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
    color: #717171;
}

/* Seção de Depoimentos */
.depoimentos-section {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.depoimentos-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #d19f68;
}

.depoimento {
    max-width: 700px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.depoimento p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.autor-depoimento {
    display: block;
    font-size: 0.9em;
    color: #999;
    font-style: italic;
}

/* Rodapé */
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: clamp(12px, 2vw + 1rem, 14px);
}

/* Botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-button img {
    width: 60%;
    height: 60%;
}

/* Badge de Notificação */
.whatsapp-button .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Classe para Mostrar o Badge */
.whatsapp-button .badge.show {
    opacity: 1;
    transform: scale(1);
}

/* Tooltip do WhatsApp */
.whatsapp-button .tooltip {
    visibility: hidden;
    width: 300px;
    background-color: #25D366;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    pointer-events: none;
    text-align: justify;
}

.whatsapp-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Notificação de Chat ao Carregar */
.chat-notification {
    position: fixed;
    top: -100px; /* Inicialmente escondida acima da tela */
    right: 20px;
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s forwards;
    z-index: 1000;
}

.chat-notification img {
    margin-right: 10px;
}

/* Animação para a Notificação */
@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 20px;
        opacity: 1;
    }
}

.instagram-button {
    display: inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
}

/* Responsividade */
@media (max-width: 768px) {
   .service-card{
    width: 100%;
   }
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero button {
        font-size: 14px;
        padding: 8px 16px;
    }
    .chat-notification {
        width: 250px; /* Reduz a largura */
        padding: 8px 16px; /* Reduz o padding */
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }

    .chat-notification img {
        width: 20px; /* Reduz o tamanho da imagem */
        height: 20px;
        margin-right: 8px; /* Ajusta o espaçamento */
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    header .logo {
        font-size: 20px;
    }

    .hamburger-icon {
        font-size: 20px;
    }

    .hero {
        padding: 40px 15px;
    }
    .hero h1 {
        font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 8px;
    }

    .text-section p,
    #products p,
    #contact p {
        font-size: 14px;
    }
    .chat-notification {
        width: 200px; /* Ainda menor em telas muito pequenas */
        padding: 6px 12px;
        font-size: 12px;
    }

    .chat-notification img {
        width: 18px;
        height: 18px;
        margin-right: 6px;
    }
}

/* Ajustes para telas menores que 360px */
@media (max-width: 360px) {
    .hero h1 {
        font-size: 23px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 8px;
    }

    .hero p {
        font-size: 13px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 16px;
    }
}

/* Ajustes para telas menores que 360px */
@media (max-width: 342px) {
    .carrossel-principal .fotos img {
        height: 400px; 
    }
    .hero h1 {
        font-size: 22px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 8px;
    }

    .hero p {
        font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 16px;
    }
}

@media (max-width: 329px) {
    .carrossel-principal .fotos img {
        height: 300px; 
    }
    .hero h1 {
        font-size: 21px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 8px;
    }

    .hero p {
        font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 16px;
    }
}

/* Animação de surgimento */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar a animação aos elementos desejados */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}


/* Modo Escuro (Dark Mode) via Classe */
/* Brilho no Logo no Modo Dark */
.dark-mode .logo-ecolution {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}
.dark-mode header {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode body {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode #products,
.dark-mode #services {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .product-card,
.dark-mode .service-card {
    background-color: #333333;
}

.dark-mode .product-card h3,
.dark-mode .service-card h3 {
    color: #ffffff;
}

/* Seção Hero */
.dark-mode .hero {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .hero button {
    background-color: #333333;
    color: #e0e0e0;
}

.dark-mode .hero button:hover {
    background-color: #555555;
}

/* Carrossel Principal */
.dark-mode .carrossel-principal {
    background-color: #1e1e1e;
}

/* Carrossel About */
.dark-mode .carrossel-about {
    background-color: #1e1e1e;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}

/* Seção Contato */
.dark-mode #contact {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding-top: 10px;
}

.dark-mode #contact h2 {
    color: #ffffff;
}

.dark-mode #contact p {
    color: #fff;
}

.dark-mode li {
    color: #fff;
}

/* Modo Escuro para a Seção de Depoimentos */
.dark-mode .depoimentos-section {
    background-color: #1e1e1e; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}

.dark-mode .depoimentos-section h2 {
    color: #ffffff; /* Título em branco */
}

.dark-mode .depoimento {
    background-color: #2e2e2e; /* Fundo das caixas de depoimento */
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); /* Sombra sutil */
}

.dark-mode .depoimento p {
    color: #cccccc; /* Texto das depoimentos */
}

.dark-mode .autor-depoimento {
    color: #aaaaaa; /* Autor do depoimento */
}
/* Rodapé */
.dark-mode footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Texto das Seções */
.dark-mode .text-section {
    background-color: #1e1e1e;
}

.dark-mode .text-section p {
    color: #ffffff;
}

/* Links */
.dark-mode a {
    color: #bb86fc;
}

.dark-mode a:hover {
    color: #3700b3;
}

/* Modo Escuro para o Sidebar */
.dark-mode .sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    color: #e0e0e0;
}

.dark-mode .sidebar a {
    color: #e0e0e0;
}

.dark-mode .sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Modo Escuro (Dark Mode) */
/*
@media (prefers-color-scheme: dark) {
    header {
        background-color: #121212;
        color: #ffffff;
    }
    
    body {
        background-color: #121212;
        color: #ffffff;
    }

    #products, #services {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .product-card, .service-card {
        background-color: #333333;
    }

    .product-card h3, .service-card h3 {
        color: #ffffff;
    }

    .hero {
        background-color: #1e1e1e;
       
    }

    .hero button {
        background-color: #333333;
        color: #e0e0e0;
    }

    .hero button:hover {
        background-color: #555555;
    }

    .carrossel-principal {
        background-color: #1e1e1e;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    }

    .carrossel-about {
        background-color: #1e1e1e;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    }

    #contact {
        background-color: #1e1e1e;
        color: #e0e0e0;
        padding-top: 10px; 
    }

    #contact h2 {
        color: #ffffff;
    }

    #contact p {
        color: #fff;
    }

    footer {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    .text-section {
        background-color: #1e1e1e;
    }

    .text-section p {
        color: #ffffff;
    }

    a {
        color: #bb86fc;
    }

    a:hover {
        color: #3700b3;
    }

    .sidebar {
        background-color: rgba(0, 0, 0, 0.9);
        color: #e0e0e0;
    }

    .sidebar a {
        color: #e0e0e0;
    }

    .sidebar a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}*/

/* Transições Suaves para as Mudanças de Cor */
body,
.hero,
.carrossel-principal,
.carrossel-about,
#contact,
footer,
.text-section,
.depoimentos-section,
.depoimento,
.autor-depoimento,
.instagram-button img,
.whatsapp-button,
.whatsapp-button .badge,
.whatsapp-button .tooltip,
.sidebar,
.sidebar a {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.theme-toggle {
    transition: color 0.3s ease;
}